<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT51zng_9yBtPgTJazm5_AIwk2iWsopkpdWCw&usqp=CAU"  width="434" height="116"/>
      </div>
      <div class="col-9">
        <div class="page-title">
          Welcome to E-Donation Application
        </div>
      </div>
    </div>
  </div>
</div>

<app-donar-details></app-donar-details>

<router-outlet></router-outlet>

<div class="footer">
  <div class="container">
    © Copyright E-Donation. All Rights Reserved
  </div>
</div>